*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', Arial, sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  inline-size: 1200px;
  block-size: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
}

/* Вся страница */

.content {
  display: flex;
  align-items: flex-end;
  gap: 30px;
  width: 1140px;
}

/* Левая часть  */

.result__video-container {
  position: relative;
  width: 711px;
  height: 386px;
  margin-bottom: 16px;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.search-form__fieldset {
  display: flex;
  flex-direction: column;
  gap: 4px;
  border: none;
}

.search-form__fieldset-title {
  font-weight: 400;
  font-size: 18px;
  /* letter-spacing: 0; */
  line-height: 100%; /* нужно оно или нет */
}

.search-form__label {
  display: flex;
  align-items: center;
  gap: 5px; 
  width: fit-content; 
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__label,
.button,
.content__card-link {
  cursor: pointer;
}

.search-form__textfield {
  width: 225px;
  border: 1px solid #fff;
  border-right: 0;
  border-left: 0;
  color: #fff;
  font-family: 'Fira Sans Condensed', Arial, sans-serif;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0;
  background-color: transparent;
  appearance: none;
}

.search-form__textfield::placeholder {
  color: rgb(255 255 255 / 0.7);
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 2px;
}

.search-form__pseudo-checkbox {
  width: 19px;
  height: 19px;
  border: 1px solid #fff;
  padding: 1px;
}

.search-form__pseudo-checkbox::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: #fff;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  opacity: 1;
}

.button {
  border: 1px solid #fff;
  color: #fff;
  font-family: 'Fira Sans Condensed', Arial, sans-serif;
  font-weight: bold;
  font-size: 18px;
  background-color: transparent;
}

.button:hover {
  text-decoration: underline;
}

.button:active {
  background-color: #545050;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
    outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__submit-button {
  align-self: end;
  width: 194px;
  height: 34px;
}
/* Правая часть */
.content__details {
  display: flex;
  flex-direction: column;
  gap: 16px;
  
  width: 100%;
  height: 100%;
}

.title {
  font-family: "Oswald", Arial, sans-serif;
  font-weight: 700;
  font-size: 75px;
  font-style: bold;
  line-height: 94%;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__list-container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: 298px;
  overflow: auto;
  padding-top: 2px;

}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content__card-link {
  display: block;
  color: #fff;
  text-decoration: none;
}

.content__card-link:hover {
  text-decoration: underline;
    text-decoration-thickness: 1px;
  text-underline-offset: 1.5px;
}

.content__card-link:active {
  background-color: #545050;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
}

.content__list-item {
  padding-left: 3px;
  padding-right: 3px;
}

.content__list-item:focus-visible {
  outline: none;
}

.content__video-card {
  display: flex;
  align-items: flex-start;
}

.content__video-card-description-container {
  flex-grow: 1;
  width: 169px;
}

.content__video-card-title {
  overflow: hidden;
  font-family: "Oswald", Arial, sans-serif;
  font-size: 30px;
  /* font-weight: 700; */
  text-transform: uppercase;
  text-overflow: ellipsis;
  /* line-height: 1.8; */
  white-space: nowrap;
}

.content__video-card-description {
  /* font-weight: 400; */
  display: -webkit-box;
  overflow: hidden;
  line-height: 16.2px;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
}

.content__video-card-thumbnail {
  min-width: 194px;
  height: 103px;
  object-fit: cover;
  object-position: center;
}

.more-button {
padding-top: 5px;
    padding-bottom: 5px;
    width: 390px;
}
 /* ававав */

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  inline-size: 1px;
  block-size: 1px;
  clip-path: inset(50%);
  white-space: nowrap;
}